<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="depotAggregat">
            <h2><span jhiTranslate="logisticaApp.depotAggregat.detail.title">Depot Aggregat</span> {{depotAggregat.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="logisticaApp.depotAggregat.stock">Stock</span></dt>
                <dd>
                    <span>{{depotAggregat.stock}}</span>
                </dd>
                <dt><span jhiTranslate="logisticaApp.depotAggregat.nom">Nom</span></dt>
                <dd>
                    <span>{{depotAggregat.nom}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/depot-aggregat', depotAggregat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
