<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trajet">
            <h2><span jhiTranslate="logisticaApp.trajet.detail.title">Trajet</span> {{trajet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="logisticaApp.trajet.depart">Depart</span></dt>
                <dd>
                    <span>{{trajet.depart}}</span>
                </dd>
                <dt><span jhiTranslate="logisticaApp.trajet.destination">Destination</span></dt>
                <dd>
                    <span>{{trajet.destination}}</span>
                </dd>
                <dt><span jhiTranslate="logisticaApp.trajet.description">Description</span></dt>
                <dd>
                    <span>{{trajet.description}}</span>
                </dd>
                <dt><span jhiTranslate="logisticaApp.trajet.commission">Commission</span></dt>
                <dd>
                    <span>{{trajet.commission}}</span>
                </dd>
                <dt><span>Cr&eacute;&eacute; le</span></dt>
                <dd>
                    <span>{{trajet.audit.createdOn | date:'dd MMM yyyy HH:mm:ss'}}</span>
                </dd>
                <dt><span>Cr&eacute;&eacute; par</span></dt>
                <dd>
                    <span>{{trajet.audit.createdBy}}</span>
                </dd>
                <ng-template [ngIf]="trajet.audit.lastModifiedOn">
                    <dt><span>Modifi&eacute; le</span></dt>
                    <dd>
                        <span>{{trajet.audit.lastModifiedOn | date:'dd MMM yyyy HH:mm:ss'}}</span>
                    </dd>
                </ng-template>
                <ng-template [ngIf]="trajet.audit.lastModifiedBy">
                    <dt><span>Modifi&eacute; par</span></dt>
                    <dd>
                        <span>{{trajet.audit.lastModifiedBy}}</span>
                    </dd>
                </ng-template>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/trajet', trajet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
