<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-trajet-heading" jhiTranslate="logisticaApp.trajet.home.createOrEditLabel">Create or edit a Trajet</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.trajet.depart" for="field_depart">Depart</label>
                    <input type="text" class="form-control" name="depart" id="field_depart"
                           formControlName="depart"/>
                    <div *ngIf="editForm.get('depart').invalid && (editForm.get('depart').dirty || editForm.get('depart').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('depart').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.trajet.destination" for="field_destination">Destination</label>
                    <input type="text" class="form-control" name="destination" id="field_destination"
                           formControlName="destination"/>
                    <div *ngIf="editForm.get('destination').invalid && (editForm.get('destination').dirty || editForm.get('destination').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('destination').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.trajet.commission" for="field_commission">Commission</label>
                    <input type="number" class="form-control" name="commission" id="field_commission"
                           formControlName="commission"/>
                </div>
                <jhi-alert-error></jhi-alert-error>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span *ngIf="!isSaving" jhiTranslate="entity.action.save">Save</span>
                    <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>
