<div>
    <h2 id="page-heading">
        <span>Statistiques / Chiffre d'affaire</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div>
        <form name="statsForm" role="form" novalidate (ngSubmit)="search()" [formGroup]="statsForm">
            <div class="form-row">
                <div class="col">
                    <label class="form-control-label" for="field_proprietaire">Société</label>
                    <select class="form-control" id="field_proprietaire" name="societe" formControlName="societe">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="societeOption.id === statsForm.get('societe').value?.id ? statsForm.get('societe').value : societeOption"
                            *ngFor="let societeOption of societes; trackBy: trackSocieteById">{{societeOption.nom}}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="typeLivraison" formControlName="typeLivraison" id="field_type">
                        <option value=""></option>
                        <option value="Transport">{{'logisticaApp.TypeLivraison.Transport' | translate}}</option>
                        <option value="Marchandise">{{'logisticaApp.TypeLivraison.Marchandise' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label class="form-control-label" for="field_produit">Produit</label>
                    <ng-select id="field_produit"
                               [items]="produits$ | async"
                               [typeahead]="produitInput$"
                               bindLabel="code"
                               [hideSelected]="true"
                               [loading]="produitsLoading"
                               formControlName="produit"
                               name="produit">
                    </ng-select>
                </div>
                <div class="col">
                    <label class="form-control-label" for="field_trajet">Trajet</label>
                    <ng-select [items]="trajets$ | async"
                               [typeahead]="trajetInput$"
                               bindLabel="description"
                               [hideSelected]="true"
                               [loading]="trajetsLoading"
                               formControlName="trajet"
                               name="trajet">
                    </ng-select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label class="form-control-label" for="field_transporteur">Matricules à inclure</label>
                    <ng-select [items]="matriculesToInclude$ | async"
                               bindLabel="description"
                               [addTag]="false"
                               [multiple]="true"
                               [hideSelected]="true"
                               [loading]="matriculesToIncludeLoading"
                               [typeahead]="matriculesToIncludeInput$"
                               name="matriculesToInclude"
                               formControlName="matriculesToInclude"
                               addTagText="">
                    </ng-select>
                </div>
                <div class="col">
                    <label>Matricules à exclure:</label>
                    <ng-select [items]="matriculesToExclude$ | async"
                               bindLabel="description"
                               [addTag]="false"
                               [multiple]="true"
                               [hideSelected]="true"
                               [loading]="matriculesToExcludeLoading"
                               [typeahead]="matriculesToExcludeInput$"
                               name="matriculesToExclude"
                               formControlName="matriculesToExclude"
                               addTagText="">
                    </ng-select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label class="form-control-label" for="field_dateDebutBonLivraison">Date de début</label>
                    <div class="input-group">
                        <input id="field_dateDebutBonLivraison" type="text" class="form-control" name="dateDebut"
                               ngbDatepicker #dateDebutDp="ngbDatepicker" formControlName="dateDebut"/>
                        <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon
                            [icon]="'calendar-alt'"></fa-icon></button>
                    </span>
                    </div>
                </div>
                <div class="col">
                    <label class="form-control-label" for="field_dateFinBonLivraison">Date de fin</label>
                    <div class="input-group">
                        <input id="field_dateFinBonLivraison" type="text" class="form-control" name="dateFin"
                               ngbDatepicker #dateFinDp="ngbDatepicker" formControlName="dateFin"/>
                        <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon
                            [icon]="'calendar-alt'"></fa-icon></button>
                    </span>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <button type="submit" id="search-reporting" class="btn btn-primary">
                    <fa-icon *ngIf="!isSearching" [icon]="'search'"></fa-icon>&nbsp;
                    <span *ngIf="!isSearching">Rechercher</span>
                    <span *ngIf="isSearching" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
    <br>
    <div class="chart-wrapper">
        <div class="charts-header-evolution">
            <span class="charts-title-evolution">Evolution du chiffre d'affaire</span>
            <div class="export-icon-evolution" title="Exporter" (click)="exportStats('mois')">
            </div>
        </div>
        <canvas baseChart width="400" height="100"
                [datasets]="evolutionCAChartData"
                [options]="lineChartOptions"
                [labels]="evolutionCAChartLabels"
                [legend]="evolutionLegend"
                [chartType]="evolutionChartType"
                [colors]="evolutionColors">
        </canvas>
    </div>
    <br>
    <div class="pie-charts">
        <div>
            <div class="charts-header-pie">
                <span class="charts-title-pie">Par type</span>
                <div class="export-icon-pie" title="Exporter" (click)="exportStats('type-livraison')"></div>
            </div>
            <canvas baseChart *ngIf="!isSearching"
                    [data]="chiffreAffaireParTypeChartData"
                    [labels]="chiffreAffaireParTypeChartLabels"
                    [chartType]="chiffreAffaireParTypeChartType"
                    [options]="pieChartOptions"
                    [legend]="pieChartLegend">
            </canvas>
        </div>
        <div>
            <div class="charts-header-pie">
                <span class="charts-title-pie">Par Société</span>
                <div class="export-icon-pie" title="Exporter" (click)="exportStats('societe-facturation')"></div>
            </div>
            <canvas baseChart *ngIf="!isSearching"
                    [data]="chiffreAffaireParSocieteChartData"
                    [labels]="chiffreAffaireParSocieteChartLabels"
                    [chartType]="chiffreAffaireParSocieteChartType">
            </canvas>
        </div>
        <div>
            <div class="charts-header-pie">
                <span class="charts-title-pie">Par Produit</span>
                <div class="export-icon-pie" title="Exporter" (click)="exportStats('produit')"></div>
            </div>
            <canvas baseChart *ngIf="!isSearching"
                    [data]="chiffreAffaireParProduitChartData"
                    [labels]="chiffreAffaireParProduitChartLabels"
                    [chartType]="chiffreAffaireParProduitChartType">
            </canvas>
        </div>
        <div>
            <div class="charts-header-pie">
                <span class="charts-title-pie">Par Trajet</span>
                <div class="export-icon-pie" title="Exporter" (click)="exportStats('trajet')"></div>
            </div>
            <canvas baseChart *ngIf="!isSearching"
                    [data]="chiffreAffaireParTrajetChartData"
                    [labels]="chiffreAffaireParTrajetChartLabels"
                    [chartType]="chiffreAffaireParTrajetChartType">
            </canvas>
        </div>
        <div>
            <div class="charts-header-pie">
                <span class="charts-title-pie">Par Matricule</span>
                <div class="export-icon-pie" title="Exporter" (click)="exportStats('matricule')"></div>
            </div>
            <canvas baseChart *ngIf="!isSearching"
                    [data]="chiffreAffaireParMatriculeChartData"
                    [labels]="chiffreAffaireParMatriculeChartLabels"
                    [chartType]="chiffreAffaireParMatriculeChartType">
            </canvas>
        </div>
    </div>

</div>
