<div>
    <h2 id="page-heading">
        <span jhiTranslate="logisticaApp.agregatTransfert.home.title">Agregat Transferts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agregat-transfert"
                [routerLink]="['/agregat-transfert/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>Transfert</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="agregatTransferts?.length === 0">
        <span jhiTranslate="logisticaApp.agregatTransfert.home.notFound">No agregatTransferts found</span>
    </div>
    <div class="table-responsive" *ngIf="agregatTransferts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="transfertDate"><span
                    jhiTranslate="logisticaApp.agregatTransfert.transfertDate">Transfert Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="quantite"><span jhiTranslate="logisticaApp.agregatTransfert.quantite">Quantite</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="unite"><span>Unité</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="source.nom"><span
                    jhiTranslate="logisticaApp.agregatTransfert.source">Source</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="destination.nom"><span
                    jhiTranslate="logisticaApp.agregatTransfert.destination">Destination</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let agregatTransfert of agregatTransferts ;trackBy: trackId">
                <td><a [routerLink]="['/agregat-transfert', agregatTransfert.id, 'view' ]">{{agregatTransfert.id}}</a>
                </td>
                <td>{{agregatTransfert.transfertDate | date:'mediumDate'}}</td>
                <td>{{agregatTransfert.quantite}}</td>
                <td>{{agregatTransfert.unite}}</td>
                <td>
                    <div *ngIf="agregatTransfert.source">
                        <a [routerLink]="['/depot-aggregat', agregatTransfert.source?.id, 'view' ]">{{agregatTransfert.source?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agregatTransfert.destination">
                        <a [routerLink]="['/depot-aggregat', agregatTransfert.destination?.id, 'view' ]">{{agregatTransfert.destination?.nom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/agregat-transfert', agregatTransfert.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agregat-transfert', agregatTransfert.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(agregatTransfert)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
