<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tarifAchat">
            <h2><span jhiTranslate="logisticaApp.tarifAchat.detail.title">Tarif Achat</span> {{tarifAchat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="logisticaApp.tarifAchat.unite">Unite</span></dt>
                <dd>
                    <span jhiTranslate="{{'logisticaApp.Unite.' + tarifAchat.unite}}">{{tarifAchat.unite}}</span>
                </dd>
                <dt><span jhiTranslate="logisticaApp.tarifAchat.prix">Prix</span></dt>
                <dd>
                    <span>{{tarifAchat.prix}}</span>
                </dd>
                <dt><span jhiTranslate="logisticaApp.tarifAchat.fournisseur">Fournisseur</span></dt>
                <dd>
                    <div *ngIf="tarifAchat.fournisseur">
                        <a [routerLink]="['/fournisseur', tarifAchat.fournisseur?.id, 'view']">{{tarifAchat.fournisseur?.nom}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="logisticaApp.tarifAchat.produit">Produit</span></dt>
                <dd>
                    <div *ngIf="tarifAchat.produit">
                        <a [routerLink]="['/produit', tarifAchat.produit?.id, 'view']">{{tarifAchat.produit?.code}}</a>
                    </div>
                </dd>
                <dt><span>Cr&eacute;&eacute; le</span></dt>
                <dd>
                    <span>{{tarifAchat.audit.createdOn | date:'dd MMM yyyy HH:mm:ss'}}</span>
                </dd>
                <dt><span>Cr&eacute;&eacute; par</span></dt>
                <dd>
                    <span>{{tarifAchat.audit.createdBy}}</span>
                </dd>
                <ng-template [ngIf]="tarifAchat.audit.lastModifiedOn">
                    <dt><span>Modifi&eacute; le</span></dt>
                    <dd>
                        <span>{{tarifAchat.audit.lastModifiedOn | date:'dd MMM yyyy HH:mm:ss'}}</span>
                    </dd>
                </ng-template>
                <ng-template [ngIf]="tarifAchat.audit.lastModifiedBy">
                    <dt><span>Modifi&eacute; par</span></dt>
                    <dd>
                        <span>{{tarifAchat.audit.lastModifiedBy}}</span>
                    </dd>
                </ng-template>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tarif-achat', tarifAchat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
