<div>
    <h2 id="page-heading">
        <span jhiTranslate="logisticaApp.tarifAchat.home.title">Tarif Achats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tarif-achat" [routerLink]="['/tarif-achat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="logisticaApp.tarifAchat.home.createLabel">
            Create a new Tarif Achat
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tarifAchats?.length === 0">
        <span jhiTranslate="logisticaApp.tarifAchat.home.notFound">No tarifAchats found</span>
    </div>
    <div class="table-responsive" *ngIf="tarifAchats?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="unite"><span jhiTranslate="logisticaApp.tarifAchat.unite">Unite</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="prix"><span jhiTranslate="logisticaApp.tarifAchat.prix">Prix</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fournisseur.nom"><span jhiTranslate="logisticaApp.tarifAchat.fournisseur">Fournisseur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="produit.code"><span jhiTranslate="logisticaApp.tarifAchat.produit">Produit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tarifAchat of tarifAchats ;trackBy: trackId">
                <td><a [routerLink]="['/tarif-achat', tarifAchat.id, 'view' ]">{{tarifAchat.id}}</a></td>
                <td jhiTranslate="{{'logisticaApp.Unite.' + tarifAchat.unite}}">{{tarifAchat.unite}}</td>
                <td>{{tarifAchat.prix}}</td>
                <td>
                    <div *ngIf="tarifAchat.fournisseur">
                        <a [routerLink]="['/fournisseur', tarifAchat.fournisseur?.id, 'view' ]" >{{tarifAchat.fournisseur?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tarifAchat.produit">
                        <a [routerLink]="['/produit', tarifAchat.produit?.id, 'view' ]" >{{tarifAchat.produit?.code}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tarif-achat', tarifAchat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tarif-achat', tarifAchat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(tarifAchat)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
