<div>
    <h2 id="page-heading">
        <span jhiTranslate="logisticaApp.livraison.home.title">Livraisons</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-livraison" [routerLink]="['/livraison/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="logisticaApp.livraison.home.createLabel">
            Create a new Livraison
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="livraisons?.length === 0">
        <span jhiTranslate="logisticaApp.livraison.home.notFound">No livraisons found</span>
    </div>
    <div class="table-responsive" *ngIf="livraisons?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateBonCommande"><span jhiTranslate="logisticaApp.livraison.dateBonCommande">Date Bon Commande</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroBonCommande"><span jhiTranslate="logisticaApp.livraison.numeroBonCommande">Numero Bon Commande</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroBonLivraison"><span jhiTranslate="logisticaApp.livraison.numeroBonLivraison">Numero Bon Livraison</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateBonLivraison"><span jhiTranslate="logisticaApp.livraison.dateBonLivraison">Date Bon Livraison</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroBonFournisseur"><span jhiTranslate="logisticaApp.livraison.numeroBonFournisseur">Numero Bon Fournisseur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quantiteVendue"><span jhiTranslate="logisticaApp.livraison.quantiteVendue">Quantite Vendue</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="uniteVente"><span jhiTranslate="logisticaApp.livraison.uniteVente">Unite Vente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="prixTotalVente"><span jhiTranslate="logisticaApp.livraison.prixTotalVente">Prix Total Vente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quantiteAchetee"><span jhiTranslate="logisticaApp.livraison.quantiteAchetee">Quantite Achetee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="uniteAchat"><span jhiTranslate="logisticaApp.livraison.uniteAchat">Unite Achat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="prixTotalAchat"><span jhiTranslate="logisticaApp.livraison.prixTotalAchat">Prix Total Achat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quantiteConvertie"><span jhiTranslate="logisticaApp.livraison.quantiteConvertie">Quantite Convertie</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="type"><span jhiTranslate="logisticaApp.livraison.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="facture"><span jhiTranslate="logisticaApp.livraison.facture">Facture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateBonCaisse"><span jhiTranslate="logisticaApp.livraison.dateBonCaisse">Date Bon Caisse</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="reparationDivers"><span jhiTranslate="logisticaApp.livraison.reparationDivers">Reparation Divers</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="trax"><span jhiTranslate="logisticaApp.livraison.trax">Trax</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="balance"><span jhiTranslate="logisticaApp.livraison.balance">Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="avance"><span jhiTranslate="logisticaApp.livraison.avance">Avance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="autoroute"><span jhiTranslate="logisticaApp.livraison.autoroute">Autoroute</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dernierEtat"><span jhiTranslate="logisticaApp.livraison.dernierEtat">Dernier Etat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="penaliteEse"><span jhiTranslate="logisticaApp.livraison.penaliteEse">Penalite Ese</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="penaliteChfrs"><span jhiTranslate="logisticaApp.livraison.penaliteChfrs">Penalite Chfrs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fraisEspece"><span jhiTranslate="logisticaApp.livraison.fraisEspece">Frais Espece</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="retenu"><span jhiTranslate="logisticaApp.livraison.retenu">Retenu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="totalComission"><span jhiTranslate="logisticaApp.livraison.totalComission">Total Comission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fournisseur.nom"><span jhiTranslate="logisticaApp.livraison.fournisseur">Fournisseur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="client.nom"><span jhiTranslate="logisticaApp.livraison.client">Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transporteur.nom"><span jhiTranslate="logisticaApp.livraison.transporteur">Transporteur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="trajet.depart"><span jhiTranslate="logisticaApp.livraison.trajet">Trajet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="produit.code"><span jhiTranslate="logisticaApp.livraison.produit">Produit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="societeFacturation.nom"><span jhiTranslate="logisticaApp.livraison.societeFacturation">Societe Facturation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let livraison of livraisons ;trackBy: trackId">
                <td><a [routerLink]="['/livraison', livraison.id, 'view' ]">{{livraison.id}}</a></td>
                <td>{{livraison.dateBonCommande | date:'mediumDate'}}</td>
                <td>{{livraison.numeroBonCommande}}</td>
                <td>{{livraison.numeroBonLivraison}}</td>
                <td>{{livraison.dateBonLivraison | date:'mediumDate'}}</td>
                <td>{{livraison.numeroBonFournisseur}}</td>
                <td>{{livraison.quantiteVendue}}</td>
                <td jhiTranslate="{{'logisticaApp.Unite.' + livraison.uniteVente}}">{{livraison.uniteVente}}</td>
                <td>{{livraison.prixTotalVente}}</td>
                <td>{{livraison.quantiteAchetee}}</td>
                <td jhiTranslate="{{'logisticaApp.Unite.' + livraison.uniteAchat}}">{{livraison.uniteAchat}}</td>
                <td>{{livraison.prixTotalAchat}}</td>
                <td>{{livraison.quantiteConvertie}}</td>
                <td jhiTranslate="{{'logisticaApp.TypeLivraison.' + livraison.type}}">{{livraison.type}}</td>
                <td>{{livraison.facture}}</td>
                <td>{{livraison.dateBonCaisse | date:'mediumDate'}}</td>
                <td>{{livraison.reparationDivers}}</td>
                <td>{{livraison.trax}}</td>
                <td>{{livraison.balance}}</td>
                <td>{{livraison.avance}}</td>
                <td>{{livraison.autoroute}}</td>
                <td>{{livraison.dernierEtat}}</td>
                <td>{{livraison.penaliteEse}}</td>
                <td>{{livraison.penaliteChfrs}}</td>
                <td>{{livraison.fraisEspece}}</td>
                <td>{{livraison.retenu}}</td>
                <td>{{livraison.totalComission}}</td>
                <td>
                    <div *ngIf="livraison.fournisseur">
                        <a [routerLink]="['/fournisseur', livraison.fournisseur?.id, 'view' ]" >{{livraison.fournisseur?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="livraison.client">
                        <a [routerLink]="['/client', livraison.client?.id, 'view' ]" >{{livraison.client?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="livraison.transporteur">
                        <a [routerLink]="['/transporteur', livraison.transporteur?.id, 'view' ]" >{{livraison.transporteur?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="livraison.trajet">
                        <a [routerLink]="['/trajet', livraison.trajet?.id, 'view' ]" >{{livraison.trajet?.depart}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="livraison.produit">
                        <a [routerLink]="['/produit', livraison.produit?.id, 'view' ]" >{{livraison.produit?.code}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="livraison.societeFacturation">
                        <a [routerLink]="['/societe', livraison.societeFacturation?.id, 'view' ]" >{{livraison.societeFacturation?.nom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/livraison', livraison.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/livraison', livraison.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(livraison)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
