<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="carburant">
            <h2><span jhiTranslate="logisticaApp.carburant.detail.title">Carburant</span> {{carburant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="logisticaApp.carburant.code">Code</span></dt>
                <dd>
                    <span>{{carburant.code}}</span>
                </dd>
                <dt><span jhiTranslate="logisticaApp.carburant.categorie">Categorie</span></dt>
                <dd>
                    <span>{{carburant.categorie}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/carburant', carburant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
