<div>
    <h2 id="page-heading">
        <span jhiTranslate="logisticaApp.clientGrossiste.home.title">Client Grossistes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-client-grossiste"
                [routerLink]="['/client-grossiste/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="logisticaApp.clientGrossiste.home.createLabel">
            Create a new Client Grossiste
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="clientGrossistes?.length === 0">
        <span jhiTranslate="logisticaApp.clientGrossiste.home.notFound">No clientGrossistes found</span>
    </div>
    <div class="table-responsive" *ngIf="clientGrossistes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="nom"><span jhiTranslate="logisticaApp.clientGrossiste.nom">Nom</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="adresse"><span
                    jhiTranslate="logisticaApp.clientGrossiste.adresse">Adresse</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="telephone"><span jhiTranslate="logisticaApp.clientGrossiste.telephone">Telephone</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let clientGrossiste of clientGrossistes ;trackBy: trackId">
                <td><a [routerLink]="['/client-grossiste', clientGrossiste.id, 'view' ]">{{clientGrossiste.id}}</a></td>
                <td>{{clientGrossiste.nom}}</td>
                <td>{{clientGrossiste.adresse}}</td>
                <td>{{clientGrossiste.telephone}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/client-grossiste', clientGrossiste.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/client-grossiste', clientGrossiste.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(clientGrossiste)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
