<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-gasoil-vente-gros-heading">
                Créer ou éditer Vente Gasoil</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.gasoilVenteGros.prixVenteUnitaire"
                           for="field_prixVenteUnitaire">Prix Vente Unitaire</label>
                    <input type="number" class="form-control" name="prixVenteUnitaire" id="field_prixVenteUnitaire"
                           formControlName="prixVenteUnitaire"/>
                    <div
                        *ngIf="editForm.get('prixVenteUnitaire').invalid && (editForm.get('prixVenteUnitaire').dirty || editForm.get('prixVenteUnitaire').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prixVenteUnitaire').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prixVenteUnitaire').errors.min" jhiTranslate="entity.validation.min"
                               [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('prixVenteUnitaire')?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.gasoilVenteGros.quantite"
                           for="field_quantite">Quantite</label>
                    <input type="number" class="form-control" name="quantite" id="field_quantite"
                           formControlName="quantite"/>
                    <div
                        *ngIf="editForm.get('quantite').invalid && (editForm.get('quantite').dirty || editForm.get('quantite').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantite').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantite').errors.min" jhiTranslate="entity.validation.min"
                               [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('quantite')?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label class="form-control-label" jhiTranslate="logisticaApp.gasoilVenteGros.prixVenteTotal"
                           for="field_prixVenteTotal">Prix Vente Total</label>
                    <input type="number" class="form-control" name="prixVenteTotal" id="field_prixVenteTotal"
                           formControlName="prixVenteTotal" readonly/>
                    <div
                        *ngIf="editForm.get('prixVenteTotal').invalid && (editForm.get('prixVenteTotal').dirty || editForm.get('prixVenteTotal').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prixVenteTotal').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prixVenteTotal').errors.min" jhiTranslate="entity.validation.min"
                               [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('prixVenteTotal')?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label class="form-control-label" jhiTranslate="logisticaApp.gasoilVenteGros.margeGlobale"
                           for="field_margeGlobale">Marge Globale</label>
                    <input type="number" class="form-control" name="margeGlobale" id="field_margeGlobale"
                           formControlName="margeGlobale" readonly/>
                    <div
                        *ngIf="editForm.get('margeGlobale').invalid && (editForm.get('margeGlobale').dirty || editForm.get('margeGlobale').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('margeGlobale').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('margeGlobale')?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label class="form-control-label" jhiTranslate="logisticaApp.gasoilVenteGros.tauxMarge"
                           for="field_tauxMarge">Taux Marge</label>
                    <input type="number" class="form-control" name="tauxMarge" id="field_tauxMarge"
                           formControlName="tauxMarge" readonly/>
                    <div
                        *ngIf="editForm.get('tauxMarge').invalid && (editForm.get('tauxMarge').dirty || editForm.get('tauxMarge').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tauxMarge').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('tauxMarge')?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.gasoilVenteGros.uniteGasoilGros"
                           for="field_uniteGasoilGros">Unite Gasoil Gros</label>
                    <select class="form-control" name="uniteGasoilGros" formControlName="uniteGasoilGros"
                            id="field_uniteGasoilGros">
                        <option value="TONNE">{{'logisticaApp.UniteGasoilGros.TONNE' | translate}}</option>
                    </select>
                    <div
                        *ngIf="editForm.get('uniteGasoilGros').invalid && (editForm.get('uniteGasoilGros').dirty || editForm.get('uniteGasoilGros').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uniteGasoilGros').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.gasoilVenteGros.societeFacturation"
                           for="field_societeFacturation">Societe Facturation</label>
                    <select class="form-control" id="field_societeFacturation" name="societeFacturation"
                            formControlName="societeFacturation">
                        <option *ngIf="!editForm.get('societeFacturation').value" [ngValue]="null" selected></option>
                        <option
                            [ngValue]="societeOption.id === editForm.get('societeFacturation').value?.id ? editForm.get('societeFacturation').value : societeOption"
                            *ngFor="let societeOption of societes; trackBy: trackSocieteById">{{societeOption.nom}}
                        </option>
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('societeFacturation').invalid && (editForm.get('societeFacturation').dirty || editForm.get('societeFacturation').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('societeFacturation').errors.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_client">Client</label>
                    <ng-select id="field_client"
                               [items]="clientsGrossistes$ | async"
                               [typeahead]="clientsGrossistesInput$"
                               bindLabel="nom"
                               [hideSelected]="true"
                               [loading]="clientsGrossistesLoading"
                               formControlName="client"
                               name="client">
                    </ng-select>
                    <div *ngIf="(editForm.get('client').dirty || editForm.get('client').touched)">
                        <small class="form-text text-danger" [hidden]="editForm.get('client').value"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_achatGasoil">Achat Gasoil</label>
                    <ng-select id="field_achatGasoil"
                               [items]="gasoilachatgros$ | async"
                               [typeahead]="gasoilachatgrosInput$"
                               bindLabel="description"
                               [hideSelected]="true"
                               [loading]="gasoilachatgrosLoading"
                               formControlName="achatGasoil"
                               name="achatGasoil">
                    </ng-select>
                    <div *ngIf="(editForm.get('achatGasoil').dirty || editForm.get('achatGasoil').touched)">
                        <small class="form-text text-danger" [hidden]="editForm.get('achatGasoil').value"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
