<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="logisticaApp.client.detail.title">Client</span> {{client.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="logisticaApp.client.nom">Nom</span></dt>
                <dd>
                    <span>{{client.nom}}</span>
                </dd>
                <dt><span jhiTranslate="logisticaApp.client.adresse">Adresse</span></dt>
                <dd>
                    <span>{{client.adresse}}</span>
                </dd>
                <dt><span jhiTranslate="logisticaApp.client.telephone">Telephone</span></dt>
                <dd>
                    <span>{{client.telephone}}</span>
                </dd>
                <dt><span>Cr&eacute;&eacute; le</span></dt>
                <dd>
                    <span>{{client.audit.createdOn | date:'dd MMM yyyy HH:mm:ss'}}</span>
                </dd>
                <dt><span>Cr&eacute;&eacute; par</span></dt>
                <dd>
                    <span>{{client.audit.createdBy}}</span>
                </dd>
                <ng-template [ngIf]="client.audit.lastModifiedOn">
                    <dt><span>Modifi&eacute; le</span></dt>
                    <dd>
                        <span>{{client.audit.lastModifiedOn | date:'dd MMM yyyy HH:mm:ss'}}</span>
                    </dd>
                </ng-template>
                <ng-template [ngIf]="client.audit.lastModifiedBy">
                    <dt><span>Modifi&eacute; par</span></dt>
                    <dd>
                        <span>{{client.audit.lastModifiedBy}}</span>
                    </dd>
                </ng-template>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
