<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tarif-transport-heading" jhiTranslate="logisticaApp.tarifTransport.home.createOrEditLabel">Create or edit a Tarif Transport</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.tarifTransport.client"
                           for="field_client">Client</label>
                    <ng-select [items]="clients$ | async"
                               [typeahead]="clientInput$"
                               bindLabel="nom"
                               [hideSelected]="true"
                               [loading]="clientsLoading"
                               formControlName="client"
                               name="client">
                    </ng-select>
                    <div
                        *ngIf="editForm.get('client').invalid && (editForm.get('client').dirty || editForm.get('client').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('client').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.tarifTransport.produit"
                           for="field_produit">Produit</label>
                    <ng-select [items]="produits$ | async"
                               [typeahead]="produitInput$"
                               bindLabel="code"
                               [hideSelected]="true"
                               [loading]="produitsLoading"
                               formControlName="produit"
                               name="produit">
                    </ng-select>
                    <div
                        *ngIf="editForm.get('produit').invalid && (editForm.get('produit').dirty || editForm.get('produit').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('produit').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.tarifTransport.trajet"
                           for="field_trajet">Trajet</label>
                    <ng-select [items]="trajets$ | async"
                               [typeahead]="trajetInput$"
                               bindLabel="description"
                               [hideSelected]="true"
                               [loading]="trajetsLoading"
                               formControlName="trajet"
                               name="trajet">
                    </ng-select>
                    <div
                        *ngIf="editForm.get('trajet').invalid && (editForm.get('trajet').dirty || editForm.get('trajet').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('trajet').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.tarifTransport.unite"
                           for="field_unite">Unite</label>
                    <select class="form-control" name="unite" formControlName="unite" id="field_unite" readOnly>
                        <option value="Voyage">{{'logisticaApp.Unite.Voyage' | translate}}</option>
                    </select>
                    <div
                        *ngIf="editForm.get('unite').invalid && (editForm.get('unite').dirty || editForm.get('unite').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('unite').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.tarifTransport.prix" for="field_prix">Prix</label>
                    <input type="number" class="form-control" name="prix" id="field_prix"
                           formControlName="prix"/>
                    <div
                        *ngIf="editForm.get('prix').invalid && (editForm.get('prix').dirty || editForm.get('prix').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prix').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('prix')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <jhi-alert-error></jhi-alert-error>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span *ngIf="!isSaving" jhiTranslate="entity.action.save">Save</span>
                    <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>
