<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
<div class="file-upload">
    <button id="upload-file-btn" class="btn btn-success float-right" (click)="fileUpload.click()">
        <fa-icon [icon]="'download'"></fa-icon>
        <span>Smaili</span>
    </button>
    <div class="progress-ctn" *ngIf="uploadProgress">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%"
                 aria-valuenow="uploadProgress" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <fa-icon [icon]="'x'" (click)="cancelUpload()"></fa-icon>
    </div>
</div>
