<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-gasoil-achat-gros-heading">Créer ou éditer Achat Gasoil</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateReception">Date de Réception</label>
                    <div class="input-group">
                        <input id="field_dateReception" type="text" class="form-control" name="dateReception"
                               ngbDatepicker #dateReceptionDp="ngbDatepicker" formControlName="dateReception"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateReceptionDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div
                        *ngIf="editForm.get('dateReception').invalid && (editForm.get('dateReception').dirty || editForm.get('dateReception').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateReception').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numeroBonReception">Numéro du bon de réception</label>
                    <input type="text" class="form-control" name="numeroBonReception" id="field_numeroBonReception"
                           formControlName="numeroBonReception"/>
                    <div
                        *ngIf="editForm.get('numeroBonReception').invalid && (editForm.get('numeroBonReception').dirty || editForm.get('numeroBonReception').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroBonReception').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroBonReception').errors.minlength"
                               jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                            This field is required to be at least 1 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantity">Quantité</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                    <div
                        *ngIf="editForm.get('quantity').invalid && (editForm.get('quantity').dirty || editForm.get('quantity').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantity').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantity').errors.min" jhiTranslate="entity.validation.min"
                               [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('quantity')?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.gasoilAchatGros.prixUnitaire"
                           for="field_prixUnitaire">Prix Unitaire</label>
                    <input type="number" class="form-control" name="prixUnitaire" id="field_prixUnitaire"
                           formControlName="prixUnitaire"/>
                    <div
                        *ngIf="editForm.get('prixUnitaire').invalid && (editForm.get('prixUnitaire').dirty || editForm.get('prixUnitaire').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prixUnitaire').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prixUnitaire').errors.min" jhiTranslate="entity.validation.min"
                               [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('prixUnitaire')?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.gasoilAchatGros.uniteGasoilGros"
                           for="field_uniteGasoilGros">Unite Gasoil Gros</label>
                    <select class="form-control" name="uniteGasoilGros" formControlName="uniteGasoilGros"
                            id="field_uniteGasoilGros">
                        <option value="TONNE">{{'logisticaApp.UniteGasoilGros.TONNE' | translate}}</option>
                    </select>
                    <div
                        *ngIf="editForm.get('uniteGasoilGros').invalid && (editForm.get('uniteGasoilGros').dirty || editForm.get('uniteGasoilGros').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uniteGasoilGros').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.livraison.fournisseur"
                           for="field_fournisseur">Fournisseur</label>
                    <ng-select [items]="fournisseurs$ | async"
                               [typeahead]="fournisseurInput$"
                               bindLabel="nom"
                               [hideSelected]="true"
                               [loading]="fournisseursLoading"
                               formControlName="fournisseur"
                               name="fournisseur">
                    </ng-select>
                    <div *ngIf="(editForm.get('fournisseur').dirty || editForm.get('fournisseur').touched)">
                        <small class="form-text text-danger" [hidden]="editForm.get('fournisseur').value"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="logisticaApp.gasoilAchatGros.transporteur"
                           for="field_transporteur">Transporteur</label>
                    <select class="form-control" id="field_transporteur" name="transporteur"
                            formControlName="transporteur">
                        <option *ngIf="!editForm.get('transporteur').value" [ngValue]="null" selected></option>
                        <option
                            [ngValue]="societeOption.id === editForm.get('transporteur').value?.id ? editForm.get('transporteur').value : societeOption"
                            *ngFor="let societeOption of societes; trackBy: trackSocieteById">{{societeOption.nom}}
                        </option>
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('transporteur').invalid && (editForm.get('transporteur').dirty || editForm.get('transporteur').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('transporteur').errors.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_produit">Produit</label>
                    <ng-select [items]="produits$ | async"
                               [typeahead]="produitInput$"
                               bindLabel="code"
                               [hideSelected]="true"
                               [loading]="produitsLoading"
                               formControlName="produit"
                               name="produit">
                    </ng-select>
                    <div
                        *ngIf="editForm.get('produit').invalid && (editForm.get('produit').dirty || editForm.get('produit').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('produit').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
            <jhi-alert-error></jhi-alert-error>
        </form>
    </div>
</div>
