<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Facturation</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="this.activeModal.close('Close')"></button>
</div>
<div class="modal-body">
        <div class="form-group">
            <label class="form-control-label" for="field_montantMax">Montant</label>
            <input type="text" class="form-control" id="field_montantMax" [(ngModel)]="billing.montant" (change)="ajuster()" />
            <div class="alert alert-primary" role="alert">
                Le montant de la facture doit être compris entre {{billing.montantFacturationMin}} {{device}} et {{billing.montantFacturationMax}} {{device}}
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_remise">Remise</label>
            <output id="remise_value" class="form-control-sm">{{billing.remise}} %</output>
            <input type="range" class="form-control-range" id="field_remise" [(ngModel)]="billing.remise" min="0" max="100" step="5" />
        </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="facturer()">Save</button>
</div>
