<div>
    <h2 id="page-heading">
        <span>CA / Camion</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div>
        <form name="reportingForm" role="form" novalidate (ngSubmit)="loadAll()" [formGroup]="reportingForm">
            <div class="form-row">
                <div class="col">
                    <label class="form-control-label" for="field_proprietaire">Société</label>
                    <select class="form-control" id="field_proprietaire" name="societe" formControlName="societe">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="societeOption.id === reportingForm.get('societe').value?.id ? reportingForm.get('societe').value : societeOption"
                            *ngFor="let societeOption of societes; trackBy: trackSocieteById">{{societeOption.nom}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label class="form-control-label" for="field_client">Client</label>
                    <ng-select id="field_client"
                               [items]="clients$ | async"
                               [typeahead]="clientInput$"
                               bindLabel="nom"
                               [hideSelected]="true"
                               [loading]="clientsLoading"
                               formControlName="client"
                               name="client">
                    </ng-select>
                </div>
                <div class="col">
                    <label class="form-control-label" for="field_produit">Produit</label>
                    <ng-select [items]="produits$ | async"
                               [typeahead]="produitInput$"
                               bindLabel="code"
                               [hideSelected]="true"
                               [loading]="produitsLoading"
                               formControlName="produit"
                               name="produit">
                    </ng-select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label class="form-control-label" for="field_dateDebutBonLivraison">De</label>
                    <div class="input-group">
                        <input id="field_dateDebutBonLivraison" type="text" class="form-control" name="dateDebut"
                               ngbDatepicker #dateDebutDp="ngbDatepicker" formControlName="dateDebut"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <label class="form-control-label" for="field_dateFinBonLivraison">à</label>
                    <div class="input-group">
                        <input id="field_dateFinBonLivraison" type="text" class="form-control" name="dateFin"
                               ngbDatepicker #dateFinDp="ngbDatepicker" formControlName="dateFin"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <button type="submit" id="search-reporting" class="btn btn-primary">
                    <fa-icon *ngIf="!isSearching" [icon]="'search'"></fa-icon>&nbsp;
                    <span *ngIf="!isSearching">Rechercher</span>
                    <span *ngIf="isSearching" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-success" (click)="export()">
                    <span>Exporter</span>
                </button>
            </div>
        </form>
    </div>
    <br>
    <div class="alert alert-warning" *ngIf="recapitulatifs?.length === 0">
        <span jhiTranslate="logisticaApp.reporting.home.notFound">No reporting found</span>
    </div>
    <div class="table-responsive" *ngIf="recapitulatifs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th scope="col"><span>Matricule</span></th>
                <th scope="col"><span>Unit&eacute; Vente</span></th>
                <th scope="col"><span>Total Quantit&eacute;e Vendue</span></th>
                <th scope="col"><span>Total Prix Vente</span></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let recapitulatif of recapitulatifs">
                <td>{{recapitulatif.camion}}</td>
                <td>{{recapitulatif.uniteVente}}</td>
                <td>{{recapitulatif.totalQuantiteVendue}}</td>
                <td>{{recapitulatif.totalPrixVente}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
