<div>
    <h2 id="page-heading">
        <span jhiTranslate="logisticaApp.reporting.home.title">Achats</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div>
        <form name="reportingAchatForm" role="form" novalidate (ngSubmit)="reset()" [formGroup]="reportingAchatForm">
            <div class="form-row">
                <div class="col">
                    <label class="form-control-label" jhiTranslate="logisticaApp.societe.home.title"
                           for="field_proprietaire">Société</label>
                    <select class="form-control" id="field_proprietaire" name="societe" formControlName="societe">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="societeOption.id === reportingAchatForm.get('societe').value?.id ? reportingAchatForm.get('societe').value : societeOption"
                            *ngFor="let societeOption of societes; trackBy: trackSocieteById">{{societeOption.nom}}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-control-label" jhiTranslate="logisticaApp.fournisseur.home.title"
                           for="field_fournisseur">Fournisseur</label>
                    <ng-select [items]="fournisseurs$ | async"
                               [typeahead]="fournisseurInput$"
                               bindLabel="nom"
                               [hideSelected]="true"
                               [loading]="fournisseursLoading"
                               formControlName="fournisseur"
                               name="fournisseur">
                    </ng-select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label class="form-control-label" for="field_dateDebutBonCommande">De</label>
                    <div class="input-group">
                        <input id="field_dateDebutBonCommande" type="text" class="form-control" name="dateDebut"
                               ngbDatepicker #dateDebutDp="ngbDatepicker" formControlName="dateDebut"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <label class="form-control-label" for="field_dateFinBonCommand">à</label>
                    <div class="input-group">
                        <input id="field_dateFinBonCommand" type="text" class="form-control" name="dateFin"
                               ngbDatepicker #dateFinDp="ngbDatepicker" formControlName="dateFin"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <button type="submit" id="search-reporting" class="btn btn-primary" [disabled]="isSearching">
                    <fa-icon *ngIf="!isSearching" [icon]="'search'"></fa-icon>&nbsp;
                    <span *ngIf="!isSearching">Rechercher</span>
                    <span *ngIf="isSearching" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                </button>
                &nbsp;
                <button type="button" class="btn btn-success" (click)="export()">
                    <span>Exporter</span>
                </button>
            </div>
        </form>
    </div>
    <br>
    <div class="alert alert-warning" *ngIf="recapitulatifAchats?.length === 0">
        <span jhiTranslate="logisticaApp.reporting.home.notFound">No reporting found</span>
    </div>
    <div class="table-responsive" *ngIf="recapitulatifAchats?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th scope="col" jhiSortBy="dateBonCommande"><span jhiTranslate="logisticaApp.reporting.dateBonCommande">Date Bon Commande</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"><span>N° Bon Commande</span></th>
                <th scope="col" jhiSortBy="codeProduit"><span jhiTranslate="logisticaApp.reporting.codeProduit">Code Produit</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"><span>Total Quantitée Achetée</span></th>
                <th scope="col"><span>Total Quantitée Convertie</span></th>
                <th scope="col"><span jhiTranslate="logisticaApp.reporting.totalPrixAchat">Total Prix Achat</span></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let recapitulatifAchat of recapitulatifAchats ;trackBy: trackId">
                <td>{{recapitulatifAchat.dateBonCommande | date:'dd MMM yyyy'}}</td>
                <td>
                    <button *ngIf="recapitulatifAchat.hasBonCommande"
                            (click)="showBonCommande(recapitulatifAchat.livraisonId)" type="button"
                            class="btn btn-light">{{recapitulatifAchat.numeroBonCommande}}
                    </button>
                    <span *ngIf="!recapitulatifAchat.hasBonCommande">
                        {{recapitulatifAchat.numeroBonCommande}}
                    </span>
                </td>
                <td>{{recapitulatifAchat.codeProduit}}</td>
                <td>{{recapitulatifAchat.totalQuantiteAchetee}}</td>
                <td>{{recapitulatifAchat.totalQuantiteConvertie}}</td>
                <td>{{recapitulatifAchat.totalPrixAchat}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
