<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="depot">
            <h2><span jhiTranslate="logisticaApp.depot.detail.title">Depot</span> {{depot.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="logisticaApp.depot.stock">Stock Initial</span></dt>
                <dd>
                    <span>{{depot.stock}}</span>
                </dd>
                <dt><span jhiTranslate="logisticaApp.depot.nom">Nom</span></dt>
                <dd>
                    <span>{{depot.nom}}</span>
                </dd>
                <dt><span jhiTranslate="logisticaApp.depot.consommationInterne">Consommation Interne</span></dt>
                <dd>
                    <span>{{depot.consommationInterne ? 'Oui' : 'Non'}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/depot', depot.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
